<h3>Choose a Design</h3>
<br>
<div class="cake-designs">
  <% @cake_designs.each do |cake_design| %>
    <div class="cakes">
      <%= image_tag(cake_design.image.url) %><br>
      <%= f.label(:cake_design, cake_design.name) %>
      <%= f.radio_button(:cake_design_id, cake_design.id) %>
      <% if cake_design.option != "" %>
        <%= f.label(:cake_design_option, cake_design.option) %>
        <%= f.text_field :option %>
      <% end %>
    </div>
  <% end %>
</div>
<div class="field">
  <%= f.label "Writing" %><br />
  <%= f.text_field :writing, placeholder: "Add custom writing" %>
</div>

<div class="buttons">
  <%= link_to "<button type='button' class='button'>Cancel</button>".html_safe, :back %>
  <button type="button" class="back-to-flavor-form button">Back</button>
  <button type="button" class="to-final-form button">Next</button>
</div>
