<div class="cake-designs">
  <% @cake_designs.each do |cake_design| %>
    <div class="cakes">
      <%= image_tag(cake_design.image.url) %><br>
      <%= f.label(:cake_design, cake_design.name) %>
      <%= f.radio_button(:cake_design_id, cake_design.id) %>
      <% if cake_design.option != "" %>
        <%= f.label(:cake_design_option, cake_design.option) %>
        <%= f.text_field :option %>
      <% end %>
    </div>
  <% end %>
</div>
<a class="to-final-form">Next</a>
<a class="back-to-flavor-form">Back</a>
