<h3>SET PICKUP DATE, TIME, AND LOCATION</h3>
<br>
<div class="field">
  <%= f.label :pick_up_date, "DATE" %><br />
  <%= f.date_field :pick_up_date, value: Time.now.tomorrow.strftime("%Y-%m-%d"), required: true %>
</div>

<div class="field">
  <%= f.label :pick_up_time, "TIME" %><br />
  <%= f.time_field :pick_up_time, min: "10:00:00", max: "20:00:00", value: "10:00:00", required: true %>
</div>

<div class="field">
  <%= f.label :location, "LOCATION" %><br />
  <%= f.select :location, options_for_select([
  ["Clackamas", "Clackamas"],
  ["Portland", "Portland"],
  ["Wilsonville", "Wilsonville"],
  ["Tigard", "Tigard"],
  ["Beaverton", "Beaverton"],
  ["Hillsboro", "Hillsboro"]
  ]) %>
</div>

<div class="field">
  <%= f.label :photo, "REFERENCE PHOTO" %><br />
  <%= f.file_field :photo %>
</div>

<hr>

<div id="additional-comments-field">
  <%= f.label :additional_comments, "ADDITIONAL COMMENTS" %><br />
  <%= f.text_area :additional_comments, placeholder: "Let us know" %>
</div>

<% if current_user %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :member_name, :value => current_user.name %>
  <%= f.hidden_field :member_number, :value => current_user.member_number %>
  <%= f.hidden_field :member_phone_number, :value => current_user.phone_number %>
<% else %>
  <div class="field">
    <%= f.label :member_name, "NAME" %><br />
    <%= f.text_field :member_name %>
  </div>

  <div class="field">
    <%= f.label :member_phone_number, "PHONE NUMBER" %><br />
    <%= f.text_field :member_phone_number %>
  </div>

  <div class="field">
    <%= f.label :member_number, "MEMBER NUMBER" %><br />
    <%= f.text_field :member_number %>
  </div>

<% end %>
<div class="buttons">
  <%= f.submit class: "button" %>
  <button type="button" class="back-to-design-form button">Back</a>
  <%= link_to "<button type='button' class='button'>Cancel</button>".html_safe, :back %>
</div>
