<%= f.radio_button(:cake_flavor, "vanilla", checked: true) %>
<%= f.label(:vanilla, "Vanilla Cake") %>
<%= f.radio_button(:cake_flavor, "chocolate") %>
<%= f.label(:chocolate, "Chocolate Cake") %>  <br><br>
<%= f.radio_button(:mouse_flavor, "vanilla", checked: true) %>
<%= f.label(:vanilla, "Vanilla Mousse") %>
<%= f.radio_button(:mouse_flavor, "chocolate") %>
<%= f.label(:chocolate, "Chocolate Mousse") %>  <br><br>
<%= f.radio_button(:icing_flavor, "vanilla", checked: true) %>
<%= f.label(:vanilla, "Vanilla Icing") %>
<%= f.radio_button(:icing_flavor, "chocolate") %>
<%= f.label(:chocolate, "Chocolate Icing") %>  <br><br>
<a class="to-design-form">Next</a>
<%= link_to "Back", :back %>
