<h3>CHOOSE CAKE FLAVORS</h3>
<br>

<div id="flavor_form">
  <div class="flavor_field">
    <span class="cake_order_label">FLAVOUR</span> <br>
    <%= f.radio_button(:cake_flavor, "white", checked: true) %>
    <%= f.label :white, "White Cake" %> <br>
    <%= f.radio_button(:cake_flavor, "chocolate") %>
    <%= f.label :chocolate, "Chocolate Cake" %>
  </div>

  <div class="flavor_field">
    <span class="cake_order_label">FILLING</span> <br>
    <%= f.radio_button(:mousse_flavor, "vanilla cheescake", checked: true) %>
    <%= f.label :vanilla, "Vanilla Cheesecake Mousse" %> <br>
    <%= f.radio_button(:mousse_flavor, "chocolate") %>
    <%= f.label :chocolate, "Chocolate Mousse" %>
  </div>

  <div class="flavor_field">
    <span class="cake_order_label">ICING</span> <br>
    <%= f.radio_button(:icing_flavor, "vanilla buttercream", checked: true) %>
    <%= f.label :vanilla, "Vanilla Buttercream Icing" %> <br>
    <%= f.radio_button(:icing_flavor, "chocolate buttercream") %>
    <%= f.label :chocolate, "Chocolate Buttercream Icing" %>
  </div>
</div>

<div class="buttons">
  <%= link_to "<button type='button' class='button'>Cancel</button>".html_safe, :back %>
  <button type="button" class="to-design-form button">Next</button>
</div>
