<div id="cake-info">
  <span class="cake_order_label">Cake Flavor:</span> <%= @cake_order.cake_flavor.capitalize %><br>
  <span class="cake_order_label">Icing Flavor:</span> <%= @cake_order.icing_flavor.capitalize %><br>
  <span class="cake_order_label">Mousse Flavor:</span> <%= @cake_order.mousse_flavor.capitalize %><br>
  <span class="cake_order_label">Design:</span> <%= @cake_design.name %> <br>
  <div class="order-image">
    <%= image_tag(@cake_design.image) %>
  </div>
  <span class="cake_order_label">Writing:</span> <%= @cake_order.writing %><br>
  <% if @cake_order.option %>
    <%= "<span class='cake_order_label'>#{@cake_design.option}</span> ".html_safe + @cake_order.option %><br>
  <% end %>
  <span class="cake_order_label">Additional Comments:</span> <%= @cake_order.additional_comments %><br>
  <% if @cake_order.photo? %>
    <div class="order-image">
      <span class="cake_order_label">Reference Photo:</span> <%= image_tag(@cake_order.photo) %>
    </div>
  <% end %>
</div>
<hr>
<div id="pickup-info">
  <span class="cake_order_label">Member Name:</span> <%= @cake_order.member_name %><br>
  <span class="cake_order_label">Member Phone Number:</span> <%= number_to_phone(@cake_order.member_number, area_code: true) %><br>
  <%= @cake_order.pick_up_date.strftime("Pick up on %A %B %d, %Y") %><%= @cake_order.pick_up_time.strftime(" by %l:%M %P") %><br>
  <span class="cake_order_label">Store Location:</span> <%= @cake_order.location %><br>
</div>
